/*Sidebar*/
#sidebar-rapper{
    z-index: 1;
    position: absolute;
    width: 0;
    height: 100%;
    overflow-y: hidden;
    background: #2C3E50;


}

/*main content*/

#page-content-rapper{
    width: 100%;
    position: absolute;
    padding: 15px;


}

/* change the width of sidebar to display it*/
#rapper.menuDisplayed #sidebar-rapper{
    width: 250px;
}

#rapper.menuDisplayed #page-content-rapper{
    padding-left:250px;
}

/*sidebar styling*/
.sidebar-nav{
    padding: 0;
    list-style: none;
}

.sidebar-nav li{
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a{
    display: block;
    text-decoration: none;
    color: #ddd;
}

.sidebar-nav li a:hover{
    background: #116655;
}